{% extends 'home.html' %}
{% load static %}
{% block content %}
<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About us</h2>
        <div class="about-content">
            <div class="column left">
                <img src="{% static 'images\kam-idris-_HqHX3LBN18-unsplash.jpg' %}" alt="">
            </div>
            <div class="column right">
                <div class="text">Group27<span class="typing-2"></span></div>
                <p>Welcome to UyenToan - the pioneering room sharing platform in Thanh Pho Ho Chi Minh. We believe that sharing living spaces not only helps save costs but also creates valuable connections within the community.</p>
                <p>Stemming from the shortage of rental rooms and the increasing demand from students and young professionals, we are determined to build a sustainable solution that connects those in need of room sharing in a safe and efficient manner.</p>
                <p>At UyenToan, we uphold transparency, fairness, and privacy. All information posted on our platform is thoroughly vetted to ensure authenticity and high quality. Additionally, we provide support tools, training, and guidance to help users fully enjoy a safe and comfortable room sharing experience.</p>
                <p>We believe the sharing economy not only helps reduce costs but also contributes to environmental protection by maximizing the utilization of existing resources. Join us in this new era of room sharing - where everyone has the opportunity to experience a convenient lifestyle at a reasonable cost.</p>                      
            </div>
        </div>
    </div>
</section>
{% endblock %}