{% extends 'home.html' %}
{% load static %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    body {
        padding-top: 100px;
        font-family: 'Ubuntu', sans-serif;
        background-color: #f8f9fa;
    }

    h3 {
        font-weight: 700;
        color: #343a40;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border-radius: 5px;
        box-shadow: none;
    }

    .form-control:focus {
        border-color: #6c757d;
        box-shadow: none;
    }

    label {
        font-weight: 500;
        color: #6c757d;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: all 0.3s ease-in-out;
    }

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

</style>

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <h3 class="text-center mb-4">Update Password</h3>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}
                    {{ fm }}
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                <div class="col-12 mt-3 text-center">
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{ error }}</p>
                {% endfor %}
                {% endif %}
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}" role="alert">{{ msg }}</div>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}