{% extends 'home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<section class="wrapper-detail">
    <i class="fa-solid fa-arrow-left button" id="prev"></i>
    <div class="image-container">
      <div class="carousel">
        {% if post.images1 %}
        <img src="{{ post.images1.url }}" alt="" />
        {% endif %}
        {% if post.images2 %}
        <img src="{{ post.images2.url }}" alt="" />
        {% endif %}
        {% if post.images3 %}
        <img src="{{ post.images3.url }}" alt="" />
        {% endif %}
        {% if post.images4 %}
        <img src="{{ post.images4.url }}" alt="" />
        {% endif %}
        {% if post.images5 %}
        <img src="{{ post.images5.url }}" alt="" />
        {% endif %}
      </div>
      <i class="fa-solid fa-arrow-right button" id="next"></i>
    </div>
  </section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="post-details">
                    <h2>{{ post.title }}</h2>
                    <p>Posted by: {{ post.posted_by.username }}</p>
                    <p>Price: {{ post.price }} VND</p>
                    <p>Address: {{ post.address }}</p>
                    <p>Available: {{ post.available|yesno:"Yes,No" }}</p>
                    <p>Post Type: {{ post.get_post_type_display }}</p>
                    <p>Created at: {{ post.created_at }}</p>
                    <div class="description">
                        <h4>Description</h4>
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script>
    const carousel = document.querySelector(".carousel"),
      images = document.querySelectorAll("img"),
      buttons = document.querySelectorAll(".button");
  
    let imageIndex = 0;
  
    const slideImage = (index) => {
      imageIndex = index;
      carousel.style.transform = `translate(-${index * 100}%)`;
    };
  
    const updateClick = (e) => {
      if (e.target.id === "next") {
        imageIndex = (imageIndex + 1) % images.length;
      } else if (e.target.id === "prev") {
        imageIndex = (imageIndex - 1 + images.length) % images.length;
      }
      slideImage(imageIndex);
    };
  
    buttons.forEach((button) => button.addEventListener("click", updateClick));
  </script>
{% endblock %}