{% extends 'home.html' %}
{% load static %}
{% block content %}
 <!-- teams section start -->
 <section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="{% static 'images\dqt.jfif' %}" alt="">
                    <div class="text">Đặng Quốc Toàn</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="{% static 'images\55057309899367cd3e82.jpg' %}" alt="">
                    <div class="text">Châu Mỹ Uyên</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}